:root {
  --main: #A61A0D;
}

@font-face {
  font-family: 'Patrick Hand';
  font-weight: normal;
  src: url(./PatrickHand-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {height: 100%;}

body {
  height: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;

  background: url(./background-image.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 150px 1fr;
}

.navigation-bar {
  padding: 0.5rem 0 1.5rem;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation-bar .logo {
  font-family: 'Patrick Hand', cursive;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 1rem;
}
.navigation-bar ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.navigation-bar li {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#content {
  background-color: rgba(0, 0, 0, 0.2);
}

.centered {
  text-align: center;

  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -2rem;
}

.centered p {
  width: min(450px, 100%);
}

.heading {
  font-size: 60px;
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
  margin-bottom: 2rem;
}

.copy {
  font-size: 20px;
  line-height: 170%;
}

.menu-grid {
  width: min(1000px, 80vw);
  margin: 0 auto;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.menu-grid .card {
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
}

.menu-grid .card img {
  display: block;
  height: 130px;
  width: auto;
  margin: 0 auto 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
  bottom: 0;
}
.menu-grid .card:hover img {
  transform: scale(1.2) rotate(45deg);
  bottom: 10px;
}

.menu-grid .card h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.menu-grid .card p {
  color: #D1D1D1;
}

.contact-section {
  width: min(1000px, 80vw);
  margin: 4rem auto;
  padding: 2rem;
  background-color: rgba(0,0,0,0.5);

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-section h2 {
  margin-bottom: 1rem;
}
.contact-section ul {
  list-style: none;
}
.contact-section li + li {
  margin-top: 1rem;
}
.contact-section img {
  vertical-align: bottom;
  margin-right: 0.5rem;
}

.contact-section label {
  display: block;
  margin-bottom: 6px;
}
.contact-section input,
.contact-section textarea {
  width: min(300px, 100%);
  padding: 12px;
  border: none;
  border-radius: 5px;
}
.contact-section button {
  font-size: 18px;
  color: white;
  background-color: var(--main);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}