@font-face {
  font-family: 'Patrick Hand';
  font-weight: normal;
  src: url(./PatrickHand-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {height: 100%;}

body {
  height: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;

  background: url(./background-image.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 150px 1fr;
}

.navigation-bar {
  padding: 0.5rem 0 1.5rem;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation-bar .logo {
  font-family: 'Patrick Hand', cursive;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 1rem;
}
.navigation-bar ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.navigation-bar li {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#content {
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
}

.centered {
  text-align: center;

  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -2rem;
}

.centered p {
  width: min(450px, 100%);
}

.heading {
  font-size: 60px;
  font-family: 'Patrick Hand', cursive;
  font-weight: normal;
  margin-bottom: 2rem;
}

p {
  font-size: 20px;
  line-height: 170%;
}